@* Modified to use our _ProductTabsWithoutAjax partial view *@

@using Nop.Core;
@using SevenSpikes.Nop.Plugins.NopQuickTabs.Models;
@using SevenSpikes.Nop.Plugins.NopQuickTabs.Domain;

@model TabUIModel
    
@inject TabSettings settings;
@inject IWorkContext workContext;

@{
    if (Model.Tabs.Count == 0)
    {
        return;
    }

    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.NopQuickTabs/Scripts/ProductTabs.min.js");

    Html.AddCssFileParts($"~/Plugins/SevenSpikes.Nop.Plugins.NopQuickTabs/Themes/Pavilion/Content/QuickTabs.css");

    var supportRtl = await workContext.GetWorkingLanguageAsync().Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts($"~/Plugins/SevenSpikes.Nop.Plugins.NopQuickTabs/Themes/Pavilion/Content/QuickTabs.rtl.css");
    }

    var additionalClass = "";
    if (Model.Tabs.Any(x => x.TabKey == "picture"))
    {
        additionalClass = "withPicture";
    }

    string productTabsPartialView = $"~/Plugins/Misc.AbcFrontend/Views/Components/ProductTabs/_ProductTabsWithoutAjax.cshtml";

    <div id="quickTabs" class="productTabs @additionalClass"
         data-ajaxEnabled="@settings.EnableAjax.ToString().ToLowerInvariant()"
         data-productReviewsAddNewUrl="@Url.Action("ProductReviewsTabAddNew", "ProductTab", new { id = Model.ProductId})"
         data-productContactUsUrl="@Url.Action("ProductContactUsTabAddNew", "ProductTab", new { id = Model.ProductId})"
         data-couldNotLoadTabErrorMessage="@T("SevenSpikes.NopQuickTabs.Client.Tabs.CouldNotLoadTabErrorMessage").ToString()">
        @await Html.PartialAsync(productTabsPartialView)
    </div>
}