@using Nop.Plugin.Misc.AbcMattresses.Services
@using Nop.Plugin.Widgets.PowerReviews.Models
@using Nop.Core

@inject IAbcMattressListingPriceService abcMattressListingPriceService
@inject IWebHelper webHelper

@model DetailModel

@{
    Html.AddHeadCustomParts("<script src='//ui.powerreviews.com/stable/4.1/ui.js'></script>");
    Html.AddCssFileParts("~/Plugins/Misc.AbcFrontend/styles/power-reviews-detail.css");

	var mattressListingPrice =
		abcMattressListingPriceService.GetListingPriceForMattressProduct(Model.ProductId);

	var price = mattressListingPrice != null ?
		mattressListingPrice.ToString() :
		Model.ProductPrice;
}

<div id="pr-reviewsnippet"></div>

@*Script to open reviews when clicking read link*@
<script type="text/javascript">
    $(window).on("load", function () {
        var openReviews = function () { $("[href=#quickTab-Reviews]").click(); }
        $("[class^=pr-snippet-review-count]").click(openReviews);
    });

	POWERREVIEWS.display.render({
		api_key: '@Model.Settings.APIKey',
		locale: 'en_US',
		merchant_group_id: '@Model.Settings.MerchantGroupId',
		merchant_id: '@Model.Settings.MerchantId',
		page_id: "@Model.ProductSku",
		review_wrapper_url: '/write-a-review?pr_page_id=@Model.ProductSku',
		structured_data_product_id: "@Model.ProductSku",
		product:{
            name: '@Model.FeedlessProduct.Name',
            url: '@Model.FeedlessProduct.Url',
            image_url: '@Model.FeedlessProduct.ImageUrl',
            description: '@Model.FeedlessProduct.Description',
            category_name: '@Model.FeedlessProduct.CategoryName',
            manufacturer_id: '@Model.FeedlessProduct.ManufacturerId',
            upc: '@Model.FeedlessProduct.Upc',
            brand_name: '@Model.FeedlessProduct.BrandName',
            price: @price,
            in_stock: '@Model.FeedlessProduct.InStock'
   		},
		components: {
			ReviewSnippet: 'pr-reviewsnippet',
			ReviewDisplay: 'pr-reviewdisplay'
		}
	});
</script>
