@using Nop.Plugin.Misc.AbcMattresses.Services
@using Nop.Plugin.Widgets.PowerReviews.Models
@using Nop.Core

@inject IAbcMattressListingPriceService abcMattressListingPriceService
@inject IWebHelper webHelper

@model DetailModel

@{
    Html.AddHeadCustomParts("<script src='//ui.powerreviews.com/stable/4.0/ui.js'></script>");
    Html.AddCssFileParts("~/Plugins/Misc.AbcFrontend/styles/power-reviews-detail.css");

	var url = webHelper.GetThisPageUrl(true);
	var mattressListingPrice =
		abcMattressListingPriceService.GetListingPriceForMattressProduct(Model.ProductId, url);

	var price = mattressListingPrice != null ?
		mattressListingPrice.ToString() :
		Model.ProductPrice;
}

<div id="pr-reviewsnippet"></div>

@*Script to open reviews when clicking read link*@
<script type="text/javascript">
    $(window).on("load", function () {
        var openReviews = function () { $("[href=#quickTab-Reviews]").click(); }
        $("[class^=pr-snippet-review-count]").click(openReviews);
    });

    var el = document.createElement('script');
	el.type = 'application/ld+json';
	var productJsonLd = {
		"@@context": "https://schema.org/",
		"@@type": "Product",
		"brand": {
			"@@type": "Thing",
			"name": "@Model.ManufacturerName"
		},
		"@@id": "@Model.ProductSku",
		"name": "@Model.ProductName",
		"description": `@Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription))`,
		"image": [
			"@Model.ProductImageUrl"
		],
		"sku": "@Model.ProductSku",
		"gtin12": "@Model.ProductGtin",
		"offers": {
			"@@type": "Offer",
			"url": "this.Request.Url.AbsoluteUri",
			"priceCurrency": "USD",
			"price": "@price",
			"priceValidUntil": "@Model.PriceValidUntil.ToShortDateString()",
			"itemCondition": "https://schema.org/NewCondition",
			"availability": "https://schema.org/InStock"
		}
	};

	POWERREVIEWS.display.render({
		api_key: '551eca6e-39f4-4e1e-9c13-8ca6a4bc53bb',
		locale: 'en_US',
		merchant_group_id: '49328',
		merchant_id: '74516',
		page_id: "@Model.ProductSku",
		name: "@Model.ProductName",
		review_wrapper_url: '/write-a-review?pr_page_id=@Model.ProductSku',
		structured_data_product_id: "@Model.ProductSku",
		on_render: function (config, data) {
			if ((config.component=="ReviewSnippet") && data.average_rating && data.review_count) {
				productJsonLd.review = {}
				productJsonLd.review["@@type"] = "Review";
				productJsonLd.review.reviewRating = {}
				productJsonLd.review.reviewRating.ratingValue = data.average_rating;
				productJsonLd.review.reviewRating.bestRating = "5";
				productJsonLd.review.reviewRating.worstRating = "0";
				productJsonLd.review.author = {};
				productJsonLd.review.author["@@type"] = "Person";
				productJsonLd.aggregateRating = {};
				productJsonLd.aggregateRating["@@type"] = "AggregateRating";
				productJsonLd.aggregateRating.ratingValue = data.average_rating;
				productJsonLd.aggregateRating.reviewCount = data.review_count;
			};
			el.text = JSON.stringify(productJsonLd);
			document.querySelector('head').appendChild(el);
		},
		components: {
			ReviewSnippet: 'pr-reviewsnippet',
			ReviewDisplay: 'pr-reviewdisplay'
		}
	});
</script>