@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@model SocialModel

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = storeContext.CurrentStore.Id;
    var instagramUrl = settingService.GetSettingByKey("pavilionthemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = settingService.GetSettingByKey("pavilionthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = settingService.GetSettingByKey("pavilionthemesettings.vimeourl", String.Empty, storeId, true);
}

<ul class="social-sharing">
    @if (!String.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a target="_blank" href="@Model.TwitterLink" aria-label="@T("Footer.FollowUs.Twitter")"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a target="_blank" href="@Model.FacebookLink" aria-label="@T("Footer.FollowUs.Facebook")"></a></li>
    }
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li class="instagram"><a target="_blank" href="@instagramUrl" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Instagram")"></a></li>
    }
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li class="pinterest"><a target="_blank" href="@pinterestUrl" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Pinterest")"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a target="_blank" href="@Model.YoutubeLink" aria-label="@T("Footer.FollowUs.Youtube")"></a></li>
    }
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li class="vimeo"><a target="_blank" href="@vimeoUrl" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Vimeo")"></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" aria-label="@T("Footer.FollowUs.RSS")"></a></li>
    }
</ul>